/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'inter', sans-serif;
  background: #000000;
}

/* === HEADER === */
.header {
  padding: 24px 140px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- Logo --- */
.logo-wrapper {
  width: 160px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #fdfdfd;
  text-decoration: none;
  margin-left: 0;
}

/* ---Navigation--- */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 24px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #fdfdfd;
  padding: 8px 16px;
}

.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px;
  margin: 0 auto;
}

.nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #fdfdfd;
  padding: 8px 16px;
}

/* Button Contact Us*/
.button {
  display: flex;
  width: 160px;
  height: 44px;
  padding: 8px;
  margin-left: auto;

  border-radius: 999px;

  background-color: #421abc;
  color: #ffffff;

  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

  justify-content: center;
  align-items: center;
}
/* === MOBILE  */
/* Hamburger */

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* === HERO SECTION === */

.hero {
  width: 100%;
  min-height: 750px;
  background: linear-gradient(
    180deg,
    #000000 0%,
    #000000 82%,
    rgba(33, 10, 94, 0.9) 100%
  );
  overflow: hidden;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 140px;
  gap: 60px;
}

/* Left */
.hero-left {
  flex: 1;
  max-width: 687px;
}

.hero-text1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: white;
  margin-bottom: 16px;
}

.italic {
  font-style: italic;
}

.hero-left p {
  font-family: 'inter', sans-serif;
  color: #717680;
  font-size: 22px;
  line-height: 34px;
}

/* Button Let's Talk */
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 48px;
  margin-top: 30px;

  background-color: #421abc;
  color: #fdfdfd;
  border-radius: 999px;
  text-decoration: none;

  font-size: 16px;
  font-weight: 600;
}

/* Hero Right */
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  position: static;
}

.hero-right img {
  width: 100%;
  max-width: 590px;
  height: auto;
  object-fit: contain;
}

/* --- WHO WE ARE SECTION --- */

/* Container Who We Are */
.who-section {
  padding: 80px 140px;
  text-align: center;
}

/* Judul Who We Are */
.title {
  color: #fdfdfd;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

/* Subtitle Who We Are warna grey*/
.who-text {
  color: #717680;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  padding: 20px;
}

/* Subtitle Who We Are warna putih*/
.white {
  color: #fdfdfd;
}

/* ---- WHAT WE DO SECTION ---- */

/* Container What We Do */
.services {
  padding: 80px 140px;
  text-align: center;
}

/* Judul What We Do */
/* .title sama dengan sebelumnya  */

.subtitle {
  color: #717680;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 64px;
}

/* Grid Cards */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Card */
.service-card {
  border: 1px solid #181d27;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  gap: 20px;
}

.icon {
  width: 48px;
  height: 48px;
}

.service-card h3 {
  color: #fdfdfd;
  font-weight: 700;
  font-size: 20px;
  height: 34px;
  margin-bottom: 4px;
}

.service-card p {
  color: #717680;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

/* === OUR WORK SECTION === */

.our-work {
  padding: 80px 140px;
}

.work-header {
  justify-content: center;
  text-align: center;
  margin-bottom: 64px;
}

/* Judul Our Work */

/* .title sama dengan sebelumnya */
/* .subtitle sama dengan sebelumnya */

/* Portofolio Grid */
.portofolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Card */

.portofolio-card img {
  width: 373px;
  border-radius: 16px;
  display: block;
}

.portofolio-card h3 {
  margin-top: 25px;
  font-size: 20px;
  color: #fdfdfd;
  font-weight: 700;
  text-align: left;
}

/* --- Meet The Team Section --- */

.team-section {
  padding: 80px 140px;
  text-align: center;
}

/* Header */
.team-header {
  text-align: center;
  margin-bottom: 64px;
}

/* .title sama dengan sebelumnya */
/* .subtitle sama dengan sebelumnya */

/* Team Grid */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 56px;
  padding: 0 56px;
}

/* Team Card */
.team-card {
  text-align: center;
}

.team-card img {
  width: 100%;
  max-width: 220px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}

.team-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fdfdfd;
  margin-bottom: 4px;
  padding: 4px;
}

.team-card p {
  font-size: 16px;
  font-weight: 400;
  color: #717680;
  padding: 4px;
}

/* --- Let's Collaborate Section --- */

.collaborate-section {
  padding: 80px 140px;
  text-align: center;
}

/* Container  */
.contact-header {
  text-align: center;
  margin-bottom: 64px;
}

/* .title sama dengan sebelumnya */
/* .subtitle sama dengan sebelumnya */

/* Form Wrapper */
.contact-form-wrapper {
  width: 592px;
  margin: 0 auto;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #fdfdfd;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
  padding: 2px 0;
  align-self: start;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #252b37;
  border-radius: 12px;
  background-color: #000000;
}

.form-group textarea {
  font-family: 'inter', sans-serif;
  min-height: 134px;
  resize: vertical;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #717680;
  padding: 8px 16px;
}

/* Button */
.send-btn {
  background: #421abc;
  color: #ffffff;
  border-radius: 999px;
  padding: 8px;

  font-size: 16px;
  font-weight: 600;
  height: 48px;

  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  opacity: 0.9;
  background-color: #c5e77d;
  color: rgb(0, 26, 255);
}

.footer {
  padding: 24px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #717680;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 640px) {
  .subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }

  /* Header */

  /* Header tetap: kiri logo, kanan hamburger */
  .header {
    width: 100%;
    padding: 20px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  /* Logo kiri */

  .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    padding: 8px;
    margin-left: 0;
  }
  /* Tampilkan hamburger */

  /* Hamburger / Close */

  .hamburger {
    display: block;
    background: none;
    cursor: pointer;
    z-index: 1000;
  }

  .hamburger img {
    width: 24px;
    height: 24px;
  }

  /* Sembunyikan button contact */
  .button {
    display: none;
  }

  /* Menu default hidden */
  .nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
    z-index: 999;
  }

  /* Saat hamburger diklik aktif */

  .nav.active {
    display: block;
    background: #000000;
    min-height: 100vh;
  }

  /* Menu turun ke bawah full lebar */

  .nav ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .nav ul li {
    width: 100%;
    list-style: none;
  }

  .nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #fdfdfd;
    padding: 10px 0;
  }

  .nav ul li a:hover {
    background: #73bec8;
    color: brown;
  }

  /* Contact Us button di mobile menu */

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background-color: #421abc;
    color: #fdfdfd !important;
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
  }

  /* === Hero Section === */

  .hero {
    height: auto;
    padding: 40px 20px;
    overflow: visible;
    background: linear-gradient(to bottom, #000000 90%, #210a5e 98%);
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  /* Teks Kiri */
  .hero-text1 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;
  }

  .hero-left p {
    font-size: 16px;
    line-height: 30px;
    text-align: left;
  }

  .button2 {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 28px;
  }

  /* Gambar hero di mobile */
  .hero-right {
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-right img {
    width: 280px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }

  /* Section */

  .who-section,
  .services,
  .our-work,
  .team-section,
  .contact-section {
    padding: 40px 20px;
  }

  /* Judul Who We Are */
  .title {
    color: #fdfdfd;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  /* Text Subtitle Who We Are */
  .who-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    padding: 20px;
  }

  /* What We Do Section */

  /* Text di bawah judul */
  .subtitle {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    padding: 4px;
    margin-bottom: 24px;
  }
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    text-align: center;
    min-height: 300px;
  }

  .service-card h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 4px;
  }

  .service-card p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
  }

  /* === Our Work Section === */

  .portofolio-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 24px;
  }
  .portofolio-card h3 {
    margin-top: 13px;
    font-size: 16px;
  }

  /* === Our Team Section === */

  .team-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .team-card img {
    width: 120px;
    height: 120px;
  }

  .team-card h3 {
    font-size: 16px;
  }

  .team-card p {
    font-size: 14px;
  }

  /* === Meet The Team Section === */

  /* Team Grid */
  .team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 6.5px;
  }

  /* Team Card */

  .team-card img {
    width: 100%;
    max-width: 220px;
    height: auto;
    margin: 0 auto 20px;
  }

  .team-card h3 {
    font-size: 16px;
  }

  .team-card p {
    font-size: 14px;
  }
  /* === Let's Collaborate Section === */

  .collaborate-section {
    padding: 40px 20px;
  }

  /* Container  */
  .contact-header {
    margin-bottom: 24px;
  }

  /* Form Wrapper */
  .contact-form-wrapper {
    width: auto;
  }

  /* Button Send */
  .send-btn {
    font-size: 14px;
    margin-top: 32px;
  }

  /* === Footer === */
  .footer {
    font-size: 12px;
  }
}
