/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'inter', sans-serif;
  background: #000000;
}

/* === HEADER === */
.header {
  padding: 24px 140px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- Logo --- */
.logo-wrapper {
  width: 160px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #fdfdfd;
  text-decoration: none;
}

/* Navigation */
.nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 12px;
  padding: 8px;
}

.nav a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #fdfdfd;
  padding: 8px 16px;
  justify-content: space-around;
}

/* Button Contact Us*/
.button {
  display: flex;
  width: 160px;
  height: 44px;
  padding: 8px;

  border-radius: 999px;

  background-color: #421abc;
  color: #ffffff;

  font-size: 16px;
  font-weight: 600;
  text-decoration: none;

  justify-content: center;
  align-items: center;
}

/* === HERO SECTION === */

.hero {
  background: linear-gradient(to bottom, #000000 90%, #210a5e 98%);
  max-width: 1440px;
  height: 750px;
  position: relative;
  overflow: hidden;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 234px 140px;
}

/* Left */
.hero-left {
  flex: 1;
  max-width: 687px;
}

.hero-text1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: white;
  margin-bottom: 16px;
}

.italic {
  font-style: italic;
}

.hero-left p {
  font-family: 'inter', sans-serif;
  color: #717680;
  font-size: 22px;
  line-height: 34px;
}

/* Button Let's Talk */
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 48px;
  margin-top: 30px;

  background-color: #421abc;
  color: #fdfdfd;
  border-radius: 999px;
  text-decoration: none;

  font-size: 16px;
  font-weight: 600;
}

/* Hero Right */
.hero-right {
  position: absolute;
  top: 15px;
  left: 704px;
}

.hero-right img {
  width: 590.64px;
  height: 809px;
  object-fit: contain;
  max-width: 100%;
}

/* --- WHO WE ARE SECTION --- */

/* Container Who We Are */
.who-section {
  padding: 80px 140px;
  text-align: center;
}

/* Judul Who We Are */
.title {
  color: #fdfdfd;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

/* Subtitle Who We Are warna grey*/
.who-text {
  color: #717680;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  padding: 20px;
}

/* Subtitle Who We Are warna putih*/
.white {
  color: #fdfdfd;
}

/* ---- WHAT WE DO SECTION ---- */

/* Container What We Do */
.services {
  padding: 80px 140px;
  text-align: center;
}

/* Judul What We Do */
/* .title sama dengan sebelumnya  */

.subtitle {
  color: #717680;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 64px;
}

/* Grid Cards */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Card */
.service-card {
  border: 1px solid #181d27;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  gap: 20px;
}

.icon {
  width: 48px;
  height: 48px;
}

.service-card h3 {
  color: #fdfdfd;
  font-weight: 700;
  font-size: 20px;
  height: 34px;
  margin-bottom: 4px;
}

.service-card p {
  color: #717680;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

/* --- OUR WORK SECTION --- */

.our-work {
  padding: 80px 140px;
}

.work-header {
  justify-content: center;
  text-align: center;
  margin-bottom: 64px;
}

/* Judul Our Work */

/* .title sama dengan sebelumnya */
/* .subtitle sama dengan sebelumnya */

/* Portofolio Grid */
.portofolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Card */

.portofolio-card img {
  width: 373px;
  border-radius: 16px;
  display: block;
}

.portofolio-card h3 {
  margin-top: 25px;
  font-size: 20px;
  color: #fdfdfd;
  font-weight: 700;
  text-align: left;
}

/* --- Meet The Team Section --- */

.team-section {
  padding: 80px 140px;
  text-align: center;
}

/* Header */
.team-header {
  text-align: center;
  margin-bottom: 64px;
}

/* .title sama dengan sebelumnya */
/* .subtitle sama dengan sebelumnya */

/* Team Grid */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 56px;
  padding: 0 56px;
}

/* Team Card */
.team-card {
  text-align: center;
}

.team-card img {
  width: 100%;
  max-width: 220px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}

.team-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fdfdfd;
  margin-bottom: 4px;
  padding: 4px;
}

.team-card p {
  font-size: 16px;
  font-weight: 400;
  color: #717680;
  padding: 4px;
}

/* --- Let's Collaborate Section --- */

.collaborate-section {
  padding: 80px 140px;
  text-align: center;
}

/* Container  */
.contact-header {
  text-align: center;
  margin-bottom: 64px;
}

/* .title sama dengan sebelumnya */
/* .subtitle sama dengan sebelumnya */

/* Form Wrapper */
.contact-form-wrapper {
  width: 592px;
  margin: 0 auto;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #fdfdfd;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
  padding: 2px 0;
  align-self: start;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid #252b37;
  border-radius: 12px;
  background-color: #000000;
}

.form-group textarea {
  font-family: 'inter', sans-serif;
  min-height: 134px;
  resize: vertical;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #717680;
  padding: 8px 16px;
}

/* Button */
.send-btn {
  background: #421abc;
  color: #ffffff;
  border-radius: 999px;
  padding: 8px;

  font-size: 16px;
  font-weight: 600;
  height: 48px;

  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  opacity: 0.9;
  background-color: #c5e77d;
  color: rgb(0, 26, 255);
}

.footer {
  padding: 24px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #717680;
}
