/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(192, 230, 234);
}

/* === HEADER === */
.header {
  background-color: antiquewhite;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  background-color: aquamarine;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin: 0 30px;
}

/* Navigation */
.nav ul {
  background-color: aquamarine;
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Button */
.button {
  padding: 12px 28px;
  border-radius: 999px;
  text-decoration: none;
  background-color: rgb(103, 127, 119);
  color: white;
  font-weight: bold;
}

/* === HERO SECTION === */
.hero {
  padding: 80px 0;
  background-color: #b5b5b5;
}

.container.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 30px 50px;
}

/* Left */
.hero-left {
  flex: 1;
  background-color: darkgoldenrod;
}

.hero-text1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  color: black;
}

.italic {
  font-style: italic;
  color: blue;
}

.hero-left p {
  margin-top: 20px;
  line-height: 1.8;
  color: rgb(87, 34, 140);
  font-size: 24px;
}

/* Button 2 */
.button2 {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 100px;
  background-color: aquamarine;
  color: black;
  border-radius: 999px;
  text-decoration: none;
  font-size: 24px;
}

/* Right */
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: aqua;
}

.image-wrapper img {
  width: 500px;
  max-width: 100%;
}
